body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

.container {
    margin: auto;
    width: 80%;
}

.center {
    text-align: center;
}

.nav {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline-block;
    padding: 12px 25px;
}

.nav li a {
    text-decoration: none;
}

.nav li div {
    height: 2px;
    transform: rotateY(90deg);
    transition: 250ms linear;
}

.nav li .active + div {
    border-bottom: 2px solid #000;
    height: 0;
    transform: rotateY(0);
}

.description {
    font-size: 1.25em;
    padding: 10px 25px;
}
